@import "../styles/variables.scss";

.main {
  &__title {
    margin-bottom: $margin-bottom-content;
    @media (max-height: 350px) {
      margin-bottom: 0.3rem;
    }
  }
  &__add {
    padding: 0;
    font-size: 1.2rem;
    height: 1.6rem;
    margin-bottom: 1.5rem;
    @media (max-height: 350px) {
      margin-bottom: 1rem;
    }
    width: 80%;
    @media (min-width: $sm) {
      width: 60%;
    }
    @media (min-width: $md) {
      width: 50%;
    }
    // width like in InputField.scss and Sum.scss
  }
}
