@import "../styles/variables.scss";

.form {
  border: 2px solid $color1-default-theme;
  margin: 0 auto 0.3rem auto;
  display: flex;
  width: 80%;
  @media (min-width: $sm) {
    width: 60%;
  }
  @media (min-width: $md) {
    width: 50%;
  }
  // width like in Main.scss and Sum.scss

  &__number {
    margin-right: 0.3rem;
    height: $input-height;
    border-radius: 0px;
    border: none;
    border-right: 1px solid $color1-default-theme;
    text-align: center;
    min-width: 2rem;
    flex-grow: 1;
    font-size: 1rem;

    &:focus,
    &:hover {
      border: none;
      outline: 3px solid $color1-default-theme;
    }
  }

  &__select {
    margin-right: 0.3rem;
    height: $input-height;
    width: 5rem;
    border-radius: 0px;
    border: none;
    border-left: 1px solid $color1-default-theme;
    border-right: 1px solid $color1-default-theme;
    text-align: center;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
    }
    &:focus,
    &:hover {
      border: none;
      outline: 3px solid $color1-default-theme;
    }

    & option {
      font-size: 0.8rem;
    }
  }

  &__delete {
    padding: 0;
    height: $input-height;
    width: $input-height;
    border: none;
    border-radius: 0;
    border-left: 2px solid $color1-default-theme;

    &:hover {
      border: none;
      outline: 3px solid $color1-default-theme;
    }
  }
}
