@import "../styles/variables.scss";

.header {
  display: flex;

  &__logo {
    width: calc($header-hight - 4px);
    font-size: 2.5rem;
    cursor: pointer;
  }

  &__link {
    color: inherit;
  }

  &__text {
    flex-grow: 1;
  }

  &__button {
    width: calc($header-hight - 4px);
    height: calc($header-hight - 4px);
    font-size: 1.2rem;
    margin: auto 0;

    & .icon {
      transition: 0.4s transform;
    }

    &:hover .icon {
      transform: rotate(90deg);
    }

    &:active .icon {
      transform: rotate(180deg);
    }
  }
}
