@import "../styles/variables.scss";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 90vw;
  margin: 0 auto;
  @media (min-width: $sm) {
    width: 75vw;
  }
  @media (min-width: $md) {
    width: 60vw;
  }
  @media (min-width: $lg) {
    width: 45vw;
  }

  &__header {
    flex-basis: $header-hight;
    line-height: $header-hight;
    text-align: center;
  }

  &__main {
    flex-grow: 1;
    padding: 1rem 0 4rem 0;
    @media (max-height: 350px) {
      padding: 0 0 0.5rem;
    }
  }

  &__footer {
    background-color: #ddd;
    position: fixed;
    bottom: 0;
    text-align: right;
    width: 100%;
    padding: 0.5rem 2rem;
  }
}
