@import "../styles/variables.scss";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  &__header {
    background-color: #eee;
    flex-basis: $header-hight;
    line-height: $header-hight;
    text-align: center;
  }

  &__main {
    background-color: #ddd;
    flex-grow: 1;
  }

  &__footer {
    background-color: #ccc;
    position: fixed;
    bottom: 0;
    text-align: right;
    width: 100%;
    padding: 0.5rem 2rem;
  }
}
